@font-face {
    font-family: "Montserrat";
    src: url(../../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

#header {
    grid-row: 1/2;
    grid-column: 1/3;
    width: 100vw;
    height: 120px;
    flex-shrink: 0;
    border-top: 1px solid #B7A287;

    border-right: 1px solid #B7A287;

    border-bottom: 1px solid #B7A287;

    background: #152028;
}

#title {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 50px;
}

#slogan {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 150px;
}

.user_icon{
    background-color: white;
    position: absolute;
    right: 20px;
    top: 36px;
    padding: 10px;
    border-radius: 50%;
}

.user_icon i {
    color: #152028;
    font-size: 40px;
}


#name_slogan .user_icon:hover{
    background-color: #152028;
    transition: 0.5s;
    cursor: pointer;
}

#name_slogan .user_icon:hover i{
    color: whitesmoke;
    transition: 0.5s;
}

