@font-face {
    font-family: "Montserrat";
    src: url(../../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

#profile_wrapper {
    background-color: #152028;
    width: 100vw;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
}

#liked_wrapper {
    grid-column: 1/2;

}

#list_wrapper {
    grid-column: 2/3;
}

#liked_wrapper>p,
#list_wrapper>p {
    font-family: "Montserrat";
    color: whitesmoke;
    font-size: 35px;
    font-weight: lighter;
    margin-left: 20px;
    border-bottom: 2px solid #B7A287;

}

#logout {
    width: 65px;
    height: 30px;
    background-color: white;
    position: relative;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 85rem;
    margin: 0;
    cursor: pointer;
}