
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    grid-row: 3/4;
    height: 130px;
    background-color: #152028;
    width: 100vw;
    bottom: 0;
    border-top: 1px solid #B7A287;

    border-right: 1px solid #B7A287;

    border-bottom: 1px solid #B7A287;
}


#footer_container{
    width: 100%;
    padding-top: 10px;
}

#footer_icons a {
    color: #152028;
    font-size: 1.5em;
    opacity: 0.9;
}

#footer p{
    display: flex;
    justify-content: center;
    color: white;
}

#footer_icons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fa-bowl-rice{
    font-size: 60px;
    color: white;
    position: absolute;
    margin-left: 400px;
    margin-top: 15px;
    padding: 5px;
}

#footer_icons a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
    border-radius: 50%;
}

#footer_icons a:hover{
    background-color: #152028;
    transition: 0.5s;
}

#footer_icons a:hover i{
    color: whitesmoke;
    transition: 0.5s;
}

#footer_nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none ;
    margin: 10px;
}

#footer_nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7 ;
    transition: 0.5s;
}

#footer_nav ul li a:hover{
opacity: 1;
}

#footerBottom{
    padding: 5px;
    background-color: #0F1A22;
    text-align: center;
}

#footerBottom p{
    color: white;
}