.choosen_country{
    background-color: #152028;
    height: auto;
}

.country_img{
    width: 100%;
    height: 550px;
}

.introductory_text{
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin: 60px auto 60px auto;
    border-bottom: 1px solid #B7A287;
    font-size: 20px;
    padding-bottom: 80px;
    width: 70%;
    font-family: "Montserrat";
}

#explore{
    color: #FFFFFF;
    text-align: center;
    margin: 60px auto 60px auto;
    font-size: 36px;
    font-family: "Montserrat";
}

#recipes_section{
    margin-bottom: 150px;
}

.recipe_content{
    background-color: #172C36;
    border-radius: 20px;
    border: 1px solid #B7A287;
    margin: 20px auto 20px auto;
    height: auto;
    width: 80%;
    padding: 0 40px 40px 40px;
}

.recipe_name{
    color: #B7A287;
    font-size: 36px;
    font-family: "Montserrat";
    margin-top: 60px;
    padding: 20px;
}

.background_img{
    width: 200px;
    height: 200px;  
    border-radius: 20px;
    background-position: center;
    background-size: contain;
}

.around_img{
    width: 220px;
    height: 220px;
    background-color: #333F49;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #B7A287;
    cursor: pointer;
}

.info_side{
    display: flex;
    gap: 35px;
    margin-top: 30px;
}

.recipe_description{
    font-size: 25px;
    border-bottom: 1px solid #B7A287;
    color: #FFFFFF;
    line-height: 1.5;
    font-family: "Montserrat";
    padding: 20px 20px 120px 20px;
}

.recipe_preparation_time{
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 25px;
    padding: 20px;
}

.selected_country{
    color: #B7A287 ;
    display: flex;
    justify-content: end;
    position: relative;
    right: 360px;
    font-size: 59px;
  bottom: 70px;
    font-family: "Montserrat";

}