@font-face {
    font-family: "Montserrat";
    src: url(../../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

#carousel_wrapper {
    height: 725px;
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
}

.carousel_img {
    height: 60%;
    width: 100%;
    margin: 0;
}

.infoTextBox {
    background-color: #152028;
    height: 40%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.infoText {
    color: #FFF;
    font-family: "Montserrat";
    font-weight: lighter;
}

.infoText > p:nth-child(2) {
    padding-bottom: 40px;
}

#line {
    border-bottom: 1px solid #B7A287;
    width: 60%;
}