<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxe Bites</title>
    <link rel="stylesheet" href="./../../index.css">
    <link rel="stylesheet" href="./../homepage/carousel/carousel.css">
    <link rel="stylesheet" href="./../header/header.css">
    <link rel="stylesheet" href="./../nav/nav.css">
    <link rel="stylesheet" href="./../footer/footer.css">
    <link rel="stylesheet" href="./../countries/countries.css">
    <link rel="stylesheet" href="./../countries/pop-up/pop-up.css">
    <link rel="stylesheet" href="../profile_page/profile_page.css">
    <link rel="stylesheet" href="../profile_page/liked/liked.css">
    <link rel="icon" href="./../../media/favicon/recipe-book.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="wrapper"></div>
    <script src="./../profile_page/liked/liked.js"></script>
    <script src="./../profile_page/list/list.js"></script>
    <script src="./../countries/countries.js"></script>
    <script src="./../countries/pop-up/pop-up.js"></script>
    <script src="./../footer/footer.js"></script>
    <script src="./../header/header.js"></script>
    <script src="./../login_register/login_register.js"></script>
    <script src="./../nav/nav.js"></script>
    <script src="./../profile_page/profile_page.js"></script>
    <script src="./../profile_page/liked/liked.js"></script>
    <script src="./../profile_page/list/list.js"></script>t
    <script src="./carousel/carousel.js"></script>
    <script src="./../../state.js"></script>
    <script src="./../homepage/homepage.js"></script>
</body>

</html>