@font-face {
    font-family: "Montserrat";
    src: url(../../../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

#left {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    margin-left: 20px;
    gap: 10px;
    border-right: #B7A287 2px solid;
    align-items: center;
    justify-content: center;
}

.recipe_title {
    font-size: 20px;
    color: #B7A287;
    font-family: "Montserrat";
}

.img_container {
    width: 250px;
    height: 230px;
    border: #B7A287 1px solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #172C36;
}

.background {
    width: 240px;
    height: 220px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}

.img_container:hover {
    cursor: pointer;
    background-color: #B7A287;
    transition: 0.8s;

}

.remove {
    color: #B7A287;
    box-sizing: border-box;
    width: 250px;
    padding: 15px;
    border: #B7A287 1px solid;
    border-radius: 15px;
    text-align: center;
}

.remove:hover {
    cursor: pointer;
    background-color: #b7a28791;
    color: #172C36;
    transition: 0.5s;

}

.recipe_title,
.remove {
    font-family: "Montserrat";
}

#liked_wrapper>p {
    width: 92%;
}