
.cancel-icon,
.save_icon{
    border-radius: 10px;
    border: 1px solid #B7A287;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px  ;
    cursor: pointer;
}


.fa-x,
.fa-bookmark{
    color: #B7A287;
    font-size: 40px;
    padding: 20px;
}

.icons_options{
    display: flex;
    justify-content: end;
    position: relative;
    right: 85px;
    top: 115px;
    gap: 50px;
}


.recipe_name_popup{
    color: #B7A287;
    font-size: 36px;
    font-family: "Montserrat";
    position: relative;
    top: 100px;
    left: 160px;
}

.info_side_popup{
    display: flex;
    gap: 35px;
    margin: 0px auto;
    width: 80%;
}

.recipe_info_popup{
    position: relative;
    top: 150px;
}


.recipe_description_popup{
    font-size: 22px;
    border-bottom: 1px solid #B7A287;
    color: #FFFFFF;
    line-height: 1.5;
    font-family: "Montserrat";
    padding: 0px 20px 40px 20px;
    width: 90%;
}

.recipe_preparation_time_popup{
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 22px;
    padding: 20px;
    width: 70%;
}

.around_img_popup{
    width: 380px;
    height: 380px;
    background-color: #333F49;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #B7A287;
    position: relative;
    top: 140px;
}

.background_img_popup{
    width: 360px;
    height: 360px;  
    border-radius: 20px;
    background-position: center;
    background-size: contain;
}

.ingredients_section{
    background-color: #172C36;
    width: 70%;
    border: 1px solid #B7A287;
    margin: 20px auto 20px auto;
    border-radius: 20px;
}

.ingredients_title{
    color: #B7A287;
    font-size: 30px;
    font-family: "Montserrat";
    margin: 60px 300px 60px 0;
    display: flex;
    justify-content: end;
}

.ingredients_title > p{
    border-bottom: 1px solid #B7A287;
    padding-bottom: 45px;
}

.instructions_list,
.ingredients_list{
    color: #FFFFFF;
    padding-left: 85px;
    padding-bottom: 60px;
    width: 90%;
    font-size: 24px;
}


.ingredients_list div{
    display: flex;
    gap: 80px;
    line-height: 1.8;
}


.instructions_section{
    background-color: #172C36;
    width: 70%;
    border: 1px solid #B7A287;
    margin: 20px auto 20px auto;
    border-radius: 20px;
}

.instructions_section > p {
    color: #B7A287;
    font-size: 30px;
    font-family: "Montserrat";
    border-bottom: 1px solid #B7A287;
    margin: 80px 0 70px 85px;
    width: 22%;
    padding-bottom: 45px;
  }


.instructions_list div{
    display: flex;
    gap: 80px;
    line-height: 1.8;
}

